[Unit]
Description=Sumokoin Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/home/sumo/sumokoin/build/release/bin/sumokoind --rpc-bind-ip 0.0.0.0 --detach
Restart=always
User=sumo

[Install]
WantedBy=multi-user.target
