[Unit]
Description=Graft Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/home/graft/GraftNetwork/build/release/bin/graftnoded --rpc-bind-ip 0.0.0.0 --confirm-external-bind --detach
Restart=always
User=graft

[Install]
WantedBy=multi-user.target
