[Unit]
Description=Stellite Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/home/stellite/Stellite/build/release/bin/stellited --rpc-bind-ip 0.0.0.0 --confirm-external-bind --detach
Restart=always
User=stellite

[Install]
WantedBy=multi-user.target
