body {
  padding-top: 80px;
  padding-bottom: 80px;
  overflow-y: scroll;
}
h3 {
  margin-top: 0;
}

#loading {
  font-size: 2em;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 10%;
}
	
/* Navigation */
.navbar-inverse {
  background-color: #014e71;
  border-color: #014e71;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.navbar-inverse .navbar-toggle {
  display: none;
}

/* Statistics */
.adminStats > div {
  min-height: 127px;
  color: #fff;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 0 1px #ffffff;
  box-shadow: inset 0px 0px 0 1px #ffffff;
  background-color: #428bca;
}
.adminStats .statValue {
  position: absolute;
  display: block;
  padding: 0 10px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 100px;
  text-align: center;
  word-wrap: break-word;
  font-size: 17px;
}
.adminStats .statValue.lead {
  font-size: 21px;
  font-weight: 600;
}
.adminStats h4 {
  text-align: right;
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  right: 15px;
  margin: 0;
  color: #efefef;
}
.adminStats .luckGood {
  color: #5eff5e;
}
.adminStats .luckBad {
  color: red;
}
.adminStats .luckMid {
  color: #FFF500;
}

/* Users list */
.usersList {
  word-wrap: break-word;
}
.usersList .tooltip-inner {
  max-width: 100%;
}
@media (min-width: 768px) {
  .usersList {
    table-layout: fixed;
  }
  .usersList tr > th,
  .usersList tr > td {
    text-align: center;
    white-space: nowrap;
  }
  .usersList .col1 {
    white-space: normal;
  }
  .usersList .col2 {
    width: 100px;
  }
  .usersList .col3 {
    width: 100px;
  }
  .usersList .col4 {
    width: 100px;
  }
  .usersList .col5 {
    width: 100px;
  }
  .usersList .col6 {
    width: 120px;
    white-space: normal;
  }
}

/* Monitoring */
.adminMonitor code {
  white-space: normal;
}
.adminMonitor .tab-pane li {
  margin-bottom: 10px;
}
.adminMonitor .infos {
  margin-bottom: 20px;
}
.adminMonitor #logTable th {
  white-space: nowrap;
}
