#page-wrapper {
  padding: 0 15px 0;
  min-height: 568px;
}
@media (min-width: 992px) {
  #page-wrapper {
    padding: 0 30px;
  }
}

.nav-side-menu li.sign-out {
  border-left: 3px solid darkred;
}

.nav-side-menu li.sign-out:hover {
  border-left: 3px solid darkred;
  background-color: darkred;
}

/* Users list */
.usersList {
  word-wrap: break-word;
}
.usersList .tooltip-inner {
  max-width: 100%;
}
@media (min-width: 768px) {
  .usersList {
    table-layout: fixed;
  }
  .usersList tr > th,
  .usersList tr > td {
    text-align: center;
    white-space: nowrap;
  }
  .usersList .col1 {
    white-space: normal;
  }
  .usersList .col2 {
    width: 100px;
  }
  .usersList .col3 {
    width: 100px;
  }
  .usersList .col4 {
    width: 100px;
  }
  .usersList .col5 {
    width: 100px;
  }
  .usersList .col6 {
    width: 120px;
    white-space: normal;
  }
}

/* Monitoring */
.adminMonitor code {
  white-space: normal;
}
.adminMonitor .tab-pane li {
  margin-bottom: 10px;
}
.adminMonitor .infos {
  margin-bottom: 20px;
}
.adminMonitor #logTable th {
  white-space: nowrap;
}
