.nav-side-menu .brand a {
    color: #428bca;
}
.nav-side-menu .brand a::before {
    content: "imaginary.stream";
    display: block;
    height: 80%;
    color: #014e71;
}
#graft {
    font-variant: small-caps;
}
.nav-side-menu .brand {
    height: 250px;
    background-image: url(/cat-big.jpg);
    background-size: 157px 167px;
    background-repeat: no-repeat;
    background-color: white;
    background-position: 65% 50%;
}
