@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(//fonts.googleapis.com/css?family=Inconsolata);

body {  
  background-color: #262626;
  background-image: url(/themes/img/bg-dark.png);
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  line-height: 1.428571429;
  color: #fff;
  margin: 0px;
  padding: 0px;
  margin-bottom: 85px;
  font-size: 16px;
  overflow-y: scroll;
}
a {
  color: #6ED5EE;
}
a:hover {
  color: #57ceeb;
}
hr {
  border-top-color: #d9d9d9;
}
strong, b {
  font-weight: 500;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto Condensed', Arial, sans-serif;
}
h3,.h3 {
  font-size: 32px;
  margin-bottom: 14px;
}
code {
  color: lightblue;
  background-color: #3C3C3C;
  padding: 2px 10px;
  border-radius: 0;
}

/* Footer */
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #262626;
  font-size: 14px;
  color: #efefef;
}
footer a {
  color: #6ED5EE;
}
footer > div{
  color: #fff;
  margin: 10px auto;
  text-align: center;
}

/* Wrappers */
#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
}
@media (min-width: 992px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 225px;
    padding: 60px 30px 0 30px;
  }
}
#loading{
  font-size: 2em;
}

/* Sidebar */
.nav-side-menu {
  overflow: auto;
  font-size: 16px;
  font-weight: 200;
  background-color: rgba(38, 38, 38, .3);
  position: fixed;
  top: 0px;
  width: 225px;
  height: 100%;
  color: #fff;
  z-index: 1000;
}
.nav-side-menu .brand {
  background-color: #014e71;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}
.nav-side-menu .brand a {
  color: #fff;
  text-decoration: none;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #03a9f4;
  background-color: #0274a8;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #03a9f4;
}
.nav-side-menu ul .sub-menu li a,
.nav-side-menu li .sub-menu li a {
  display: inline-block;
  width: 85%;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #03a9f4;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 100%;
  padding: 2px 0;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #03a9f4;
  background-color: #0274a8;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 991px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
    border-radius: 3px;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 58px !important;
  }
}
@media (min-width: 992px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

/* Top Bar */
#top-bar { 
  background-color: #0274a8;
  line-height: 50px;
  display: block;
  font-size: 17px;
  color: #fff;
  padding: 0 15px;
  z-index: 1000;
}
#top-bar div {
  display: inline-block;
  padding: 0 15px;
}
#top-bar div > span {
  font-weight: 700;
}
#top-bar #statsUpdated {
  font-weight: normal;
}
@media (min-width: 992px) {
  #top-bar {
    overflow: auto;
    position: fixed;
    top: 0px;
    left: 225px;
    right: 0px;
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  #top-bar {
    display: none;
  }
}

/* Bootstrap Buttons */
.btn-default {
  color: #ffffff;
  background-color: #1f94b1;
  border-color: #1f94b1;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #177086;
  border-color: #16687d;
}
.btn-default.disabled,.btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
  background-color: #1f94b1;
  border-color: #1f94b1;
}
.btn-default .badge {
  color: #1f94b1;
  background-color: #ffffff;
}
.btn-primary {
  color: #ffffff;
  background-color: #03a678;
  border-color: #03a678;
}
.btn-primary:hover,.btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #027454;
  border-color: #026a4d;
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
  background-color: #03a678;
  border-color: #03a678;
}
.btn-primary .badge {
  color: #03a678;
  background-color: #ffffff;
}

/* Bootstrap Form Controls */
.form-control,
.form-select {
  background-color: #131313;
  color: #00FF33;
  border: 1px solid #1f94b1; 
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  font-size: 16px;
}
.form-control:focus {  
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #177086;
}
.form-select {
  display: inline-block;
  width: 100%;
  padding: .5rem 1.75rem .5rem .75rem;
  background: #131313 url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
  background-size: 8px 10px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-group-addon {
  background-color: #1f94b1;
  color: #fff;
  border-color: #1f94b1;
}

/* Bootstrap Tables */
.table > thead > tr > td.success, 
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #000000;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #000000;
}
.table > thead > tr > th {
  color: #20BFFF;
  border-bottom-color: #20BFFF;
  font-weight: 400;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: rgba(32, 32, 32, .85);
}
.table > tbody > tr:hover td,
.table > tbody > tr:hover th {
  background-color: #353535;
}
.table > tbody > tr > td {
  border-top-color: #c9e0e9;
}
table th.sort:hover{
  cursor: pointer;
}

/* jQuery sparkline tooltip */
.jqstooltip {
  border: none !important;
  background: rgba(0, 0, 0, 0.8) !important;
  border-radius: 2px !important;
  margin-top: -20px !important;
  /* Override Bootstrap defaults to fix jQuery.Sparkline tooltips appearance */
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box;
  box-sizing: content-box !important;
}
.jqstooltip .jqsfield {
  color: #ccc;
  font-size: 13px !important;
}
.jqstooltip .jqsfield b {
  color: #fff;
}

/* Info box */
.infoBox {
  background-color: #03a9f4;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  height: 80px;  
  cursor: default;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 3px;
}
@media (max-width: 767px){
  .infoBox{
    margin-bottom: 15px;
  }
}
.infoBox .icon {
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  width: 75px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}
.infoBox .content {
  display: inline-block;
  padding: 7px 16px;
}
.infoBox .content .text {
  font-size: 13px;
  margin-top: 11px;
  color: #fff;
  text-transform: uppercase;
}
.infoBox .content .value {
  font-size: 26px;
  font-weight: 800;
  margin-top: -4px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
.infoBox .content .value .smallText {
  font-size: 18px;
  font-weight: normal;
}

/* Hash info box */
.hashInfo {
  background-color: #014e71;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  padding: 15px;
  border-radius: 3px;
  color: #fff;
}
.hashInfo .text {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}
.hashInfo .content {
  overflow: hidden;
}
.hashInfo .content .value {
  float: left;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  padding-right: 8px;
  text-overflow: ellipsis;
}
.hashInfo .content .value a {
  color: #fff;
}
.hashInfo .content .time {
  float: left;
  font-size: 15px;
  font-weight: normal;
}

/* Pool Statistics */
.stats > div:not(#addressError) {
  color: #E6E6E6; 
  padding: 10px 0px;
}
.stats > div:not(#addressError).marketFooter {
  padding: 5px 0;
}
.stats > div:not(#addressError) > i.fa {
  color: #1f94b1; 
  font-size: 21px;
  width: 30px;
  text-align: center;
}
.stats > div:not(#addressError) > span:not(.input-group-btn):first-of-type {
  font-weight: 500;
  padding: 0 2px;
  color: lightblue;
}

/* Pool and Worker Charts */
.poolChart,
.marketChart {
  padding-top: 15px;
  display: none;
  margin-bottom: 10px;
}
.userChart {
  display: none;
}
.userChart .chart {
  margin-bottom: 10px;
}
.poolChart h4,
.marketChart h4,
.userChart h4 {
  text-align: center;
  font-size: 21px;
}

/* Market Rates */
#marketStats  {
  margin-top: 20px;
}
#marketStats .infoBox  {
  margin-bottom: 15px;
}
#marketUpdate {
    display: none;
}

/* Mining Profit Calculator */
#miningProfitCalc{
  margin: 35px 0;
}
#miningProfitCalc .input-group-addon{
  padding: 6px;
}
#miningProfitCalc .input-group-addon, 
#miningProfitCalc .input-group-btn .btn, 
#miningProfitCalc .input-group .form-control{
  height:45px;
}
#calcHashDropdown{
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
#calcHashHolder{
  width: 590px;
  max-width: 100%;
}
#calcHashRate{
  z-index: inherit;
  font-family: 'Inconsolata', monospace;
}
#calcHashAmount{
  font-family: 'Inconsolata', monospace;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
#calcHashPeriod{
  font-family: 'Inconsolata', monospace;
  display: inline-block;
  width: 60px;
  vertical-align: middle;
}
#calcHashResultsHolder{
  min-width: 170px;
  max-width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
  #calcHashResultsHolder{
    min-width: 225px;
    max-width: 225px;
  }    
}

/* Mining Ports */
#miningPorts tr > td {
  vertical-align: middle;
  font-size: 0.95em;
}
#miningPorts table .col1,
#miningPorts table .col2 {
  text-align: center;
}  
@media (min-width: 768px) {
  #miningPorts table th {
    white-space: nowrap;
  }
  #miningPorts table .col1 {
    width:60px;
  }
  #miningPorts table .col2 {
    width:160px;
    text-align: center;
  }  
}

/* Configuration Generator */
#configGenerator .form-control,
#configGenerator .form-select {
  margin-bottom: 5px;
}
#configGenerator .required {
  color: red;
}
#configGenerator #generateConf {
  margin-top: 10px;
}

/* Mining Apps */
#miningApps .table > thead > tr > th {
  white-space: nowrap;
}
#miningApps_rows > tr:first-child > td {
  padding-top: 35px;
}
#miningApps_rows > tr > td {
  border-top: none;
}
#miningApps_rows .appInfo td {
  padding-top: 20px;
}
#miningApps_rows .appConfig td {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
}
#miningApps_rows {
  margin-top: 10px;
}
#miningApps_rows tr:hover,
#miningApps_rows tr:hover > td,
#miningApps_rows tr:hover > th {
  background-color: transparent;
}
#miningApps .miningAppTitle {
  font-weight: bold;
}
#miningApps .exampleAddress,
#miningApps .exampleWorkerName {
  font-style: italic;
}
#miningApps .config {
  color: lightblue;
  background-color: #3C3C3C;
  padding: 2px 10px;
  border-radius: 0;
}

/* Worker Statistics */
#yourStatsInput {
  z-index: inherit;
  font-family: 'Inconsolata', monospace;
}
#yourAddressDisplay  {
  word-wrap: break-word;
}
#yourAddressDisplay > span  {
  font-family: 'Inconsolata', monospace;
}
#lookUp > span:nth-child(2) {
  display: none;
}
.yourStats,
.yourWorkers {
  display: none;
}
#yourAddressDisplay {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-family: 'Inconsolata', monospace;
  font-size: 0.9em;
}
#addressError {
  color: red;
}
#workersReport td {
  vertical-align: middle;
}
#workersReport .status-ok {
  color: #5eff5e;
}
#workersReport .status-error {
  color: red;
}
#workersReport table .col1,
#workersReport table .col3,
#workersReport table .col4,
#workersReport table .col5 {
  text-align: center;
}
@media (min-width: 768px) {
  #workersReport table th {
    white-space: nowrap;
  }
  #workersReport table .col1 {
    width:80px;
  }
  #workersReport table .col3 {
    width:150px;
  }  
  #workersReport table .col4 {
    width: 210px;
  }
  #workersReport table .col5 {
    width: 210px;
  }
}
#workerPayments td {
  vertical-align: middle;
  font-family: 'Inconsolata', monospace;
  font-size: 0.95em;
}
#workerPayments table .col3,
#workerPayments table .col4 {
  text-align: center;
}
@media (min-width: 768px) {
  #workerPayments table  {
    table-layout:fixed;
  }  
  #workerPayments table th {
    white-space: nowrap;
  }
  #workerPayments table .col1 {
    width:190px;
  }  
  #workerPayments table .col2 {
    overflow: hidden;
    text-overflow: ellipsis;
  }  
  #workerPayments table .col3 {
    width:130px;
  }  
  #workerPayments table .col4 {
    width: 70px;
  }
}

/* Pool Blocks */
#blocksStats  {
  margin-top: 20px;
}
#blocksStats .infoBox  {
  margin-bottom: 15px;
}
#blocksStats .luckGood {
  color: #5eff5e;
}
#blocksStats .luckBad {
  color: red;
}
#blocksStats .luckMid {
  color: #FFF500;
}
#blocksReport tr > td {
  vertical-align: middle;
  font-family: 'Inconsolata', monospace;
  font-size: 0.95em;
}
#blocksReport table .col2,
#blocksReport table .col3,
#blocksReport table .col4,
#blocksReport table .col6,
#blocksReport table .col7 {
  text-align: center;
}  
@media (min-width: 768px) {
  #blocksReport table  {
    table-layout:fixed;
  }  
  #blocksReport table th {
    white-space: nowrap;
  }
  #blocksReport table .col1 {
    width:190px;
  }  
  #blocksReport table .col2 {
    width:80px;
  }  
  #blocksReport table .col3 {
    width:90px;
  }  
  #blocksReport table .col4 {
    width:120px;
  }  
  #blocksReport table .col5 {
    overflow: hidden;
    text-overflow: ellipsis;
  }  
  #blocksReport table .col6 {
    width: 55px;
  }  
  #blocksReport table .col7 {
    width: 80px;
  }  
}
#blocksReport .pending td{
  background-color:rgba(255, 255, 255, .3);
}
#blocksReport .unlocked td{
  background-color:rgba(0, 255, 0, .1);
}
#blocksReport .orphaned td{
  background-color:rgba(255, 0, 0, .1);
}
#blocksReport .luckGood,
#blocksReport .unlocked .col7 {
  color: #5eff5e;
}
#blocksReport .luckBad,
#blocksReport .orphaned .col7 {
  color: red;
}
#blocksReport .luckMid {
  color: #FFF500;
}

/* Payments */
#paymentsStats  {
  margin-top: 20px;
}
#paymentsStats .infoBox  {
  margin-bottom: 15px;
}
#paymentsReport td {
  vertical-align: middle;
  font-family: 'Inconsolata', monospace;
  font-size: 0.95em;
}
#paymentsReport table .col3,
#paymentsReport table .col4,
#paymentsReport table .col5,
#paymentsReport table .col6 {
  text-align: center;
}
@media (min-width: 768px) {
  #paymentsReport table  {
    table-layout:fixed;
  }  
  #paymentsReport table th {
    white-space: nowrap;
  }
  #paymentsReport table .col1 {
    width:190px;
  }  
  #paymentsReport table .col2 {
    overflow: hidden;
    text-overflow: ellipsis;
  }  
  #paymentsReport table .col3 {
    width:130px;
  }  
  #paymentsReport table .col4 {
    width:110px;
  }  
  #paymentsReport table .col5 {
    width: 70px;
  }
  #paymentsReport table .col6 {
    width: 70px;
  }
}

/* Top 10 miners */
#top10miners td {
  vertical-align: middle;
}
#top10miners table .col1,
#top10miners table .col3,
#top10miners table .col4,
#top10miners table .col5 {
  text-align: center;
}
@media (min-width: 768px) {
  #top10miners table th {
    white-space: nowrap;
  }
  #top10miners table .col1 {
    width:80px;
  }
  #top10miners table .col3 {
    width:150px;
  }  
  #top10miners table .col4 {
    width: 210px;
  }
  #top10miners table .col5 {
    width: 210px;
  }
}
