#poolDesc {
  margin-bottom:15px;
}

/* About box */
.aboutBox {
  background-color: #03a9f4;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  height: 100px;
  cursor: default;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 3px;
}
.aboutBox .icon {
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  width: 75px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}
.aboutBox .content {
  display: inline-block;
  padding: 7px 16px;
}
.aboutBox .content .title {
  font-size: 16px;
  margin-top: 11px;
  color: #fff;
  font-weight: 800;
  text-shadow: 1px 1px 1px #000;
}
.aboutBox .content .value {
  font-size: 15px;
  color: #fff;
}
.aboutBox .content .value .smallText {
  font-size: 15px;
  font-weight: normal;
}
@media (max-width: 767px){
  .aboutBox{
    margin-bottom: 15px;
  }
  .aboutBox{
    height: auto;
  }
}
@media (min-width: 768px){
  .aboutBox{
    height: 100px;
  }
}
@media (min-width: 992px){
  .aboutBox{
    height: 140px;
  }
}
@media (min-width: 1199px){
  .aboutBox{
    height: 100px;
  }
}
